.jumbotron {
  padding-top: 20px;
  padding-bottom: 0;
}

.nav-pills {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.nav-pills li {
  display: inline-block;
  float: none;
}
